[submodule "motion_capture/model/SAM"]
	path = motion_capture/model/SAM
	url = https://github.com/davda54/sam
[submodule "motion_capture/model/wiou"]
	path = motion_capture/model/wiou
	url = https://github.com/Instinct323/wiou
[submodule "device-capture-system"]
	path = device-capture-system
	url = git@github.com:freya-aino/device-capture-system.git
[submodule "calibrate-camera-system"]
	path = calibrate-camera-system
	url = git@github.com:freya-aino/calibrate-camera-system.git
